.App {
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
    :root,
    .App_dark {
        --color-background-primary: #222;
        --color-background-secondary: #444;
        --color-text-primary: #ddd;
        --color-text-secondary: #bbb;
    }
}

@media (prefers-color-scheme: light) {
    :root,
    .App_light {
        --color-background-primary: #ddd;
        --color-background-secondary: #bbb;
        --color-text-primary: #222;
        --color-text-secondary: #444;
    }
}


