@import '../Styles/core';

:root {
    --color-neutral-0: #{color-neutral(0)};
    --color-neutral-100: #{color-neutral(100)};
}

@media (prefers-color-scheme: dark) {
    :root {
        @include dark-mode();
    }
}

@media (prefers-color-scheme: light) {
    :root {
        @include light-mode();
    }
}

*:focus {
    outline: 2px dotted var(--color-neutral-100);
}

.App {
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
    min-height: 100vh;
    &_dark {
        @include dark-mode();
    }
    &_light {
        @include light-mode();
    }
}

.main {
    padding-bottom: 5rem;
}
