.Container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 1rem;
}
@media (min-width: 768px) {
    .Container {
        padding: 0 2rem;
    }
}
@media (min-width: 1024px) {
    .Container {
        padding: 0 3rem;
    }
}
@media (min-width: 1440px) {
    .Container {
        padding: 0 4rem;
    }
}