@import '../Styles/_viewports.scss';

.Container {
    margin: 0 auto;
    padding: 0 1rem;
    @include media-small {
        max-width: $viewport-sm;
        padding: 0 2rem;
    }
    @include media-medium {
        max-width: $viewport-md;
        padding: 0 3rem;
    }
    @include media-large {
        max-width: $viewport-lg;
        padding: 0 4rem;
    }
}