$viewport-sm: 768px;
$viewport-md: 1024px;
$viewport-lg: 1440px;

@mixin media-small {
    @media (min-width: $viewport-sm) {
        @content;
    }
}
@mixin media-medium {
    @media (min-width: $viewport-md) {
        @content;
    }
}
@mixin media-large {
    @media (min-width: $viewport-lg) {
        @content;
    }
}

$color-dark-primary: #222;
$color-dark-secondary: #333;
$color-light-primary: #eee;
$color-light-secondary: #ddd;

@mixin dark-mode() {
    --color-background-primary: #{$color-dark-primary};
    --color-background-secondary: #{$color-dark-secondary};
    --color-text-primary: #{$color-light-primary};
    --color-text-secondary: #{$color-light-secondary};
}
@mixin light-mode() {
    --color-background-primary: #{$color-light-primary};
    --color-background-secondary: #{$color-light-secondary};
    --color-text-primary: #{$color-dark-primary};
    --color-text-secondary: #{$color-dark-secondary};
}

@function color-neutral($alpha) {
    @return hsla(0, 0%, 50%, $alpha);
}
