$viewport-sm: 768px;
$viewport-md: 1024px;
$viewport-lg: 1440px;

@mixin media-small {
    @media (min-width: $viewport-sm) {
        @content;
    }
}
@mixin media-medium {
    @media (min-width: $viewport-md) {
        @content;
    }
}
@mixin media-large {
    @media (min-width: $viewport-lg) {
        @content;
    }
}