.ThemeButton {
    background-color: transparent;
    border: {
        color: transparent;
        style: solid;
        width: 2px;
    }
    color: inherit;
    display: inline-block;
    font-size: inherit;
    font-weight: inherit;
    opacity: 0.8;
    padding: 0.5rem;
    transition: border-color ease-in-out 0.2s, opacity ease-in-out 0.2s;
    &_active {
        border-color: var(--color-neutral);
        transition: border-color ease-in-out 0.2s;
    }
    &_inactive {
        &:hover {
            cursor: pointer;
            opacity: 1;
            transition: opacity ease-in-out 0.2s;
        }
    }
}
